.git
ssl
certbot

#msg-relay
./msg-relay/.git
./msg-relay/compose.yaml
./msg-relay/README.md
./msg-relay/.gitignore
./msg-relay/.gitattributes

#msg-front
./msg-front/.git
./msg-front/compose.yaml
./msg-front/README.md
./msg-front/.gitignore
./msg-front/.gitattributes
./msg-front/.idea
./msg-front/dist