* {
    box-sizing: border-box;
}

#bg-container {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0 auto;

    background-color: #f5f6fa;
    border: 0.3vw double #052698;
}

#chat-layout {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.01vw;
    align-items: stretch;

    position:absolute;

    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    max-height: 50%;
}

#user-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 0.2vw;
    margin: 0 auto;

}

#dialogue-container {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    anchor-name: --dialogue-scene;
}

#message-container {
    flex: 1;
    overflow: auto;
}

#message-input {

    flex: 0 0 auto;
}

.message {
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(255, 255, 255);
    color: white;
}