* {
    box-sizing: border-box;
}

#bg-container {

    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0 auto;

    background-color: #ffffff;
    border: 0.3vw double #052698;
}

#chat-layout {

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.01vw;
    align-items: stretch;

    position:absolute;

    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    max-height: 50%;
    z-index: 2;
}

#user-container {

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 0.2vw;
    margin: 0 auto;

}

#dialogue-container {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

#message-container {

    flex: 1;
    min-height: 0;
    overflow-y: auto;

}

#message-input {

    flex: 0 0 auto;
}

#maiden-img {

    position: absolute;
    position-anchor: --bg-container;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-height: 75%  ;

}

.message {
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    color: white;
}

.window {
    border: 1em solid rgb(219, 219, 219);
}
