* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("./img/blue_waves-bg_fhd.png");
}

.bg-container {
  max-width: 70%;
  height: auto;
  text-align: center;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  background-color: #ffffff;
  border: 0.3vw double #052698;
}

.dialogue-window-panel {
  overflow: hidden;
}

.dialogue-window {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.maiden-img {
  position: absolute;
  position-anchor: --bg-container;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-height: 70%;
}

.message {
  font-family: Consolas, monospace;
  padding-left: 1em;
  text-align: justify;
  border: 2px solid white;
  color: white;
}

.app-window {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 219, 219);
  background-color: #3b3b3bb2;
  width: 95%;
}

.text-center {
  text-align: center;
}

.msg-tabs li {
  padding: 0.5em;
  border: 0.5em solid rgb(219, 219, 219);
  background-color: #3b3b3bb2;
}

.floating-window {
  display: none;
  width: 18vw;
  height: 18vh;
  background-color: #3b3b3bb2;
}

.msg-tabs {
  display: none;
}

.app-window-header {
  justify-content: left;
  height: 1em;
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 219, 219);
}

.popup-column {
  display: none;
  position: relative;
  cursor: pointer;
}

.popup-column.popupShow {
  display: flex;
  position: absolute;
  cursor: pointer;
}

div {
  font-family: Consolas, monospace;
}

@media (max-width: 599px) {
  .user-window[data-msg-tab-content],
  .dialogue-window-panel[data-msg-tab-content],
  .music-window[data-msg-tab-content],
  .diagn-window[data-msg-tab-content] {
    display: none;
  }

  .user-window.active-tab[data-msg-tab-content],
  .dialogue-window-panel.active-tab[data-msg-tab-content],
  .music-window.active-tab[data-msg-tab-content],
  .diagn-window.active-tab[data-msg-tab-content] {
    display: flex;
  }

  .msg-tabs {
    font-family: Consolas, monospace;
    color: white;
    margin: 0;
    padding: 1em;

    display: flex;
    z-index: 2;

    justify-content: space-evenly;
    list-style-type: none;

    position: absolute;
    position-anchor: --chat-layout;
    top: anchor(bottom);
    width: anchor-size(width);
  }
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: darkgrey;
  border-radius: 3px;
  border: 1px solid #ffffff;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  background: blue;
  color: white;
  text-decoration: white wavy underline;
  text-shadow: 1px 1px 0px darkblue;
}
