* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("./assets/img/blue_waves-bg_fhd.png");
}

#bg-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  background-color: #ffffff;
  border: 0.3vw double #052698;
}

#chat-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.01vw;
  align-items: stretch;

  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 50%;
  z-index: 2;
}

#user-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

#dialogue-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#message-container {
  flex: 1;

}

#message-input {
  flex: 0 0 auto;
}

#maiden-img {
  position: absolute;
  position-anchor: --bg-container;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-height: 75%;
}

.message {
  font-family: Consolas, monospace;
  padding-left: 1em;
  text-align: justify;
  border: 2px solid white;
  color: white;
}

.app-window {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 219, 219);
}

.msg-tabs {
  display: none;
}

.app-window-header {
  justify-content: left;
  height: 1em;
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 219, 219);
}

div {
  font-family: Consolas, monospace;
}

@media (max-width: 599px) {
  #chat-layout {
    grid-template-columns: 1fr;
    anchor-name: --chat-layout;
  }

  #user-window[data-msg-tab-content],
  #dialogue-window[data-msg-tab-content],
  #music-window[data-msg-tab-content],
  #diagn-window[data-msg-tab-content] {
    display: none;
  }

  #user-window.active-tab[data-msg-tab-content],
  #dialogue-window.active-tab[data-msg-tab-content],
  #music-window.active-tab[data-msg-tab-content],
  #diagn-window.active-tab[data-msg-tab-content] {
    display: flex;
  }

  .msg-tabs {
    font-family: Consolas, monospace;
    color: white;
    margin: 0;
    padding: 1em;

    display: flex;
    z-index: 2;

    justify-content: space-evenly;
    list-style-type: none;

    position: absolute;
    position-anchor: --chat-layout;
    top: anchor(bottom);
    width: anchor-size(width);
  }
}
